.pd-10{
  padding-left: 10px;
  padding-right: 10px;
}

.margin-head{
  margin-top: 0.7rem!important
}

.p-4-override{
  padding: 0.5rem!important
}

.filter-dropdown{
  position: absolute;
  left: 850px;
  top: 125px;
}

/*Para-Co-ord*/

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
    fill:black;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.para-coord-graph {
  font: 10px sans-serif;
}

.legend-para {
  stroke: #10101063;
}

/* MCA */
/* .grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
} */

.brushed {
    opacity: 1.0;
}

.non_brushed {
    opacity: 0.5;
}

/*Map*/

path:hover {
	fill-opacity: .7;
}

/* Legend Position Style */
.legend {
	display: inline-block;
  float: right;
}

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(43,43,43, 0.8);
  color: #fff;
  border-radius: 2px;
}


/*word cloud*/
#word-cloud{
    display: inline-block;
     float: right;
}

  .click-only-text {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  .click-only-text::selection {
      background: none;
    }

  .word-default {
      fill: cadetblue;
      font-weight: normal;
    }
  .word-hovered {
      fill: teal;
      font-weight: bold;
    }
  .word-selected {
      fill: darkslategrey;
      font-weight: bold;
    }

#titletext{
    color: #081d58;
  }
